* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: white;

}

body {
    font-family: 'Lexend Deca', sans-serif;
    color: #2a2a2a;
    background-color: #1b1b1b;
}

a {
    text-decoration: none;
}

ul {list-style: none}

.home {
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: row;
}

.left-side {
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    z-index: 999;
}

.logo {
    color: #ffffff;
}

.logo span {
    color: #b3b3b3;
}

.hero-right {
    position: fixed;
    right: -40vw;
    bottom: -10vw;
    font-size: 12em;
    font-weight: 900;
    color: #ffffff;
    opacity: 0.077;
    transform: rotate(90deg) translate(0%, 0%);
    cursor: default;
}

.user {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    filter: grayscale(30%) brightness(120%);
    width: 120px;
    height: 120px;
    padding: 2px;
}

.content .title {
    font-size: 3.5em;
    color: rgb(255, 255, 255)
}

.content .title span {
    color: var(--color-1);
}

.content .subtitle {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(175, 175, 175)
}

.contact-info {
    margin-top: 30px;
    font-size: 14px;
    color: rgb(175, 175, 175);
    line-height: 24px;
    font-weight: 300;
}

.content .services {
    color: rgb(175, 175, 175);
    font-weight: 300;
}

.content .download-link {
    margin-top: 70px;
}

.content .download-cv {
    color: var(--color-1);
    font-weight: 500;
    background: #313131;
    padding: 15px 35px;
    border-radius: 50px;
    transition: 500ms;
}
.content .download-cv:hover {
    background: #414141;
}

.content .download-cv svg {
    fill: var(--color-1);
    position: relative;
    top: 5px;
}

.social {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.contact-link {
    color: white;
    font-weight: 300;
    text-decoration: underline;
}

.social a {
    opacity: 0.8;
    background-color: #313131;
    padding: 10px;
    border-radius: 50%;
    transition: 300ms;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    transition: 500ms;
}

.social a:hover {
    background: #414141;
}

.all-language {
    filter: opacity(0.9);
    width: 80%;
}

.menu-bar {
    cursor: pointer;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: 500ms;
    position: absolute;
    z-index: 9999;
    right: 15px;
    top: 15px;
}
.menu-bar:hover {
    align-items: end;
}

.bar1, .bar2, .bar3 {
    width: 38px;
    height: 1px;
    margin-bottom: 9px;
    background-color: #ffffff;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 13px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

.change div {
    background-color: #7f7f7f;
}

.menu-content {
    background-color: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(12px);
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.menu-content ul {
    width: 25%;
    background-color: #ffffff;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 500ms;
    opacity: 0;
}

.menu-show {
    visibility: initial;
}

.menu-show ul {
    width: 52%;
    opacity: 1.0;
}

.menu-content ul li {
    margin: 15px;
}

.menu-content ul li a {
    font-size: 3em;
    color: var(--color-1);
    font-family: 'Style Script', cursive;
}
.menu-content ul li a:hover {
    color: #656565;
}


.hero-menu {
    font-size: 10em;
    font-weight: 900;
    color: #8a8a8a;
    opacity: 0.077;
    transform-origin: center;
    transform: rotate(90deg) translate(22%, 5%);
    text-align: center;
    cursor: default;
    letter-spacing: 30px;
}

.dotted {
    position: absolute;
    right: 15px;
    top: 15px;
}

.dotted .line {
    width: 80px;
    display: flex;
    justify-content: space-around;
    height: 10px;
}

.dotted .line div {
    width: 3px;
    height: 3px;
    border-radius: 50px;
    background-color: var(--color-1);
}

ul.theme-options {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
ul.theme-options li {
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%;
    border: solid 2px #e3e3e3;
    cursor: pointer;
}
ul.theme-options li:hover {
    border-style: dashed;
    border-color: #ffffff;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%;
    }

    .right-side {
        height: auto;
    }

    .content {
        width: 100%;
        margin-top: 30px;
    }

    .home {
        overflow: initial;
    }

    .content .title {
        margin-top: 20px;
        font-size: 2.2em;
    }

    .hero-right {
        top: 10%;
        left: -70%;
        transform: rotate(90deg) translate(0%, 0%);
        color: #b7b7b7;
    }

    .dotted {
        display: none;
    }

    .menu-show {
        z-index: 999;
    }

    .menu-show ul {
        width: 100%;
    }

    .hero-menu {
        transform: rotate(90deg) translate(50%, 95%);
    }


    .bar1, .bar2, .bar3 {
        background: #2a2a2a;
    }

    .subtitle {
        text-align: left;
    }
    .left-side {
        justify-content: center;
    }

}