@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:400,500,600,700,800,900|Titillium+Web:400,600,700&amp;subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');
.main-header:before {
	background:  linear-gradient(312deg, #000, 40%,#2A2A2E 30%)
}

.menu.menu--active {
	background: #2D2D32;
}

.menu.menu--active .menu__wrapper a {
	color: #8B8B8B !important;

}

.menu .menu__wrapper nav a {
	font-size: 11px;	
	letter-spacing: 0.8px;
	font-family: 'Titillium Web', sans-serif !important;

	font-weight:  300;
}

.menu .menu__wrapper nav a:hover, .menu.menu--active .menu__wrapper a:hover {
	color: #F68338 !important;
	opacity: 1 !important;
}


.menu .menu__wrapper nav ul li:before{
	content: '';
    width: 15px;
    height: 2px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.091);
    z-index: 999;
    margin-left: -25px;
    position: absolute;

}

.personal-profile .personal-profile__avatar img {
	box-shadow: none;
}

.personal-profile__name {
	font-family: 'Poppins', sans-serif;
	font-weight: 600 !important;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.personal-profile__name span {
	color: #F68338 !important;
}

.personal-profile, .contact-list{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
.section {
	padding-top: 80px !important;
}

.section .section__title {
	text-align: left;
    font-weight: 700;
    font-size: 34px;
    color: #292929;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.section .section__title span {
	color: #F68338 !important;
}

.section h5 {
 	text-align: left;
    font-weight: 300;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.section .section__description {
	font-size: 15px;
}


.resume-list .resume-list__block:before {
	border-color: #F68338 !important;
}

.resume-list .resume-list__block {
	border-color: #F68338 !important;;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.resume-list .resume-list__block-title,.resume-list .resume-list__block-date,.resume-list .resume-list_title,.progress-list .progress-list__title,nav {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.resume-list .resume-list__block-date {
	font-size: 12px;
}

.resume-list__block p {
	font-size: 15px;
}

.background {
	background: #2D2D32;
}
.background:before {
	display: none;
}

.background .section .section__title {
	color: #F68338 !important;
	font-family: 'Poppins', sans-serif;
}
.contacts .contacts__social li {
	float: left;
}
.contacts .contacts__social a {
	display: inline-block;
    margin: 5px 6px;
    font-size: 35px;
    color: #6a6a6a;
}
.contacts .contacts__social a:hover {
	background: none;
	color: #ffffff;
}

.contacts .contacts__form-title, .footer {
	font-family: 'Poppins', sans-serif;
}

.contacts .contacts__form input,.contacts .contacts__form textarea {
	font-family: 'Poppins', sans-serif;
	border: none;
	background: rgba(255, 255, 255, 0.11);
	border-radius: 0;
	color: #ffffff;
	font-size: 12px;
	padding: 8px;
}
.contacts .contacts__form input:focus,.contacts .contacts__form textarea:focus {
	outline: none !important;
	border: none;
	box-shadow: none;
	font-size: 12px;
}

.contacts .contacts__form input::placeholder,.contacts .contacts__form textarea::placeholder
{ 
	font-family: 'Poppins', sans-serif;
	color: #625f5f;
	font-size: 12px;
}

.site-btn.site-btn--form {
	background: #F68338 !important;
    font-family: 'Poppins', sans-serif;
    width: auto;
    box-shadow: none;
    letter-spacing: 5px;
    font-weight: 300;
     height: 40px;
    padding: 10px;
    border-radius: 0;
    float: right;   
}

.clear {
	clear: both;
}

.footer {
	font-size: 12px;
	
	text-align: right;
}
.footer p {
	margin: 0;
}
.footer p:last-child {
	color: #878787;
}
.slider-carousel .slider-carousel__description {
	font-size: 15px;
}
.slider-carousel .slider-carousel__title {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}
.slider-carousel hr {
	border-color: #424242 !important
}

.post-cards .post-cards_title,.project-card .project-card__link,.project-card .project-card__stack,
.portfolio-modal .portfolio-modal__title,.portfolio-modal .portfolio-modal__link,
.portfolio-modal .portfolio-modal__stack-title
 {
	font-family: 'Poppins', sans-serif;
}

.project-card .project-card__title {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

.project-card .project-card__description {
	font-size: 15px;
}
.tags li {
	border-radius: 0;
    border: none;
    color: #626262;
    background: #f1f1f1;
    box-shadow: none
}

.link {
	color: #8d8d8d !important;
    font-size: 12px;
    text-decoration: underline;
}
.link:hover {
	color: black !important;
}
/* =================== */
.horizonral-subtitle {
	position: fixed;
	right: 162px;
	top: 50%;
}
.horizonral-subtitle span {
	position: absolute;
	left: 0;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 84px;
	letter-spacing: 6px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: rgba(255, 255, 255, 0.11);
	top: 0;
	white-space: nowrap;
}

.pattern-bg {
	position: absolute;
    bottom: 0;
    width: 40%;
    height: 30%;
    z-index: 3;
    right: 0;
    background-repeat: repeat;
    opacity: 0.2;
}

.half-bg {
	float: right;
	width: 65%;
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 2;
}
.impulse-wrap .half-bg {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 10%;
	height: 80%;
	width: 65%;
}
.half-slider-wrap {
	z-index: 10;
}
.half-slider-img-wrap {
	position: absolute;
	top: 0;
	right: 0;
	width: 65%;
	height: 100%;
	z-index: 1;
}
.half-slider-img-item {
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.half-bg-dec {
	position: absolute;
	top: 10%;
	right: 5.5%;
	width: 20%;
	height: 80%;
	padding-left: 80px;
}
.half-bg-dec.single-half-bg-dec {
	left: inherit;
	right: 5.5%;
	width: 35%;
	height: 90%;
	top: 9%;
}
.half-bg-dec-item {
	float: left;
	width: 33.3%;
	height: 25%;
	position: relative;
}
.half-bg-dec-item:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.31);
	box-sizing: border-box;
	-webkit-transition: all 500ms linear;

	transition: all 500ms linear;
	z-index: 3;
}
.half-bg-dec-item.half-bg-dec-vis:before {
	background: #fff;
}

.sec-lines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: -99;
}
.line-item {
	float: left;
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid rgba(153, 153, 153, 0.1);
	height: 100%;
	position: relative;
}
.line-item:first-child:before {
	content: '';
	position: absolute;
	top: 0;
	right: -2px;
	width: 4px;
	height: 30px;
	animation: scroll3 8s ease-out infinite;
}
.line-item:last-child:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: -2px;
	width: 4px;
	height: 30px;
	animation: scroll2 6s ease-out infinite;
}
.sec-lines .container {
	width:100%;
}

.content.full-height {
	z-index: 6;
}
.full-height {
	height: 100%;
}
@keyframes scroll3 {
	0% {
		opacity: 1;
		top: 0
	}
	50% {
		top: 50%
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}
@keyframes scroll2 {
	0% {
		opacity: 1;
		bottom: 0
	}
	50% {
		bottom: 50%
	}
	100% {
		bottom: 100%;
		opacity: 0.5;
	}
}
.line-item:first-child {
	border-left: 1px solid rgba(153, 153, 153, 0.09);
}

.section {
	position: relative;
}
.section-subtitle {
	position: absolute;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	top: 50px;
	left: 40px;
	right: 40px;
	color: #ccc;
	opacity: 0.15;
	text-align: left;
	z-index: -99;
	font-size: 8vw;
}
.section-subtitle.right-pos {
	right: 80px;
	text-align: right;
}

.section-subtitle span{
	color: #F68338;
}



